body { 
  text-align: center;
}

div { 
  height: 200px;
}

p { 
  width: 600px;
  margin: auto;
}

#div1 { 
  background-color: lightblue;
  font-size: 200%;
}

#div2 { 
  background-color: aquamarine;
  font-size: 300%
}

#div3 { 
  background-color: blue;
  font-size: 400%;
}

input, button { 
  height: 40px;
  font-size: 60%;
}

div:hover { 
  font-weight: bold;
}

.background { 
  background-color: blue;
}