
body { 
  background: lightblue;
  margin: 0px 0px 120px 120px;
}

#table1, #manipulate { 
  margin: 45px 5px;
  background: lightcyan;
  padding: 15px;
}

#manipulate, #options { 
  margin: 45px 5px;
  background: lightcyan;
  padding: 15px;
  width: 600px;
}

button { 
  padding: 5px;
  margin:  10px;
  width:   145px;
}

input { 
  padding: 3px;
}

.submit { 
  margin-top: 10px;
}

.hidden { 
  display: none;
}

table tr th { 
  padding: 0 0 20 20px;
  #table1 {
    min-width: 120px;
    border-right: solid lightgray 1px;
  }
}

table tr { 
  height: 30px;
  text-align: center;
}

table td { 
  padding: 0 20px;
  #table1 {
    border-right: solid lightgray 1px;
  }
}

.tborder { 
  border-top: solid lightgray 3px;
}

a { 
  color: darkslategrey;
  text-decoration: unset;
}

breakfast { 
  border: 2px solid black;
}
