
body { 
  background: lightblue;
  margin: 0px 0px 120px 120px;
}

table { 
  margin: 45px;
  background: lightcyan;
  padding: 15px;
}

table tr th { 
  width: 170px;
}

table tr { 
  height: 30px;
}

a { 
  color: darkblue;
}

breakfast { 
  border: 2px solid black;
}
