
body { 
  background: lightblue;
  margin: 0px 0px 120px 120px;
}

#table1, #manipulate { 
  margin: 45px;
  background: lightcyan;
  padding: 15px;
}

input { 
  padding: 20x;
}

.hidden { 
  display: none;
}

table tr th { 
  min-width: 120px;
  padding: 0 0 20 20px;
  border-right: solid lightgray 1px;
}

table tr { 
  height: 30px;
  text-align: center;
}

table td { 
  padding: 0 20px;
  border-right: solid lightgray 1px;
}

.tborder { 
  border-top: solid lightgray 3px;
}

a { 
  color: darkslategrey;
  text-decoration: unset;
}

breakfast { 
  border: 2px solid black;
}
