
body { 
  background-color: lightskyblue;
  text-align: center;
  width: 1250px;
  margin: auto;
  font-size: 150%;
}

header, footer {
  padding: 30px;
  border-bottom: solid;
}

ul { 
  list-style-position: inside;
  list-style-image: none;
  text-align: center;
}

li { 
  padding: 5px;
}

#interests { 
  margin: 2%;
  padding: 1%;
  border-style: dotted;
  border-width: 3px;

}

#assignments { 
  min-height: 500px;
}

img { 
  height: 200px;
  padding: 2%;
}

img:hover { 
  background-color: lightsteelblue;
}

li:hover { 
  font-weight: bold; 
}
